{% extends 'mailing/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ object }}</h1>
</div>

<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td class="w-25">Рассылка:</td>
                            <td><a href="{% url 'mailing:view' object.mail.pk %}">{{ object.mail.title }}</a><br></td>
                        </tr>
                        <tr>
                            <td class="w-25">Дата и время попытки:</td>
                            <td>{{ object.date }}</td>
                        </tr>
                        {% if object.is_success %}
                        <tr>
                            <td class="w-25">Статус выполнения:</td>
                            <td>успешно</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td class="w-25">Статус выполнения:</td>
                            <td>ошибка</td>
                        </tr>
                        <tr>
                            <td class="w-25">Ошибка выполнения:</td>
                            <td>{{ object.error }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td class="w-25">Почта отправителя:</td>
                            <td>{{ object.send_from }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Получатели:</td>
                            <td>
                                {% for client in object.mail.clients.all %}
                                {{ client }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25">Тема письма:</td>
                            <td>{{ object.mail_title }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Содержание:</td>
                            <td>{{ object.mail_content }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <img src="https://cdn3.iconfinder.com/data/icons/file-format-2/512/log_.log_file_file_format_document_extension_format-1024.png">
            </div>

        </div>
    </div>
</div>
{% endblock %}